* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

.alignChildren {
    font-size: 0;
}

.alignChildren > * {
    display: inline-block;
    font-size: medium;
    vertical-align: top;
}


#container * {
	border: 1px solid grey;
}

.weather {
	height:400px;
	/* text-align: center; */
}

button {
	width: 100px;
	height: 100px;
}

.rainLevel {
	min-height: 10px;
	width: 100px;
	background-color: green;
}

.tempLevel {
	width: 100px;
	background-color: red;
}

.now {
	height: 500px;
}

.weatherOutput {
	position: relative;
	min-width: 500px;
	display: inline-block;
}

.hourContainer{
	display: inline-block;
	padding: 5px;
}



.hour{
	padding: 5px;
}

/* .hourContainer * {
	padding: 5px;
} */